/* Estilos barra de navegación */
.nav-link:hover {
    background-color: yellowgreen;
    border-radius: 1rem;
}

.nav-item a {
    background-color: #FFD966;
    margin: 2px 3px;
    padding: 7px 7px;
    font-weight: 700;
    border: 3px solid black;
    box-shadow: 5px 5px black;
}

#barra-navegacion {
    display:flex;
    justify-content: space-evenly;
    flex: 1;
}

#boton-busqueda {
    background-color: yellowgreen;
}


/* Estilos Body */
.card-title {
    font-size: 8rem ;
}

.presentacion-amigos {
    text-align:center;
    margin-top: 1rem;
}

.card-image-overlay * {
    text-align:center;
}

.nombre-amigos {
    font-size: 4rem;
}

.amigos-bill {
    background-color: rgb(238, 228, 217);
}

.texto-formulario {
    font-size: 2rem;
}